<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-globe"></i> 意见反馈列表</h3>
    </div>
    <div class="panel-body">
        <%= form_tag(batch_opt_kobe_suggestions_path, method: 'post', id: "list_form") do %>
        <div style="margin-bottom: 10px;">
            <button class="btn btn-danger btn-xs" value="delete" name="batch_opt">
                <i class="fa fa-trash-o"></i>
                删除
            </button>
            <button class="btn btn-info btn-xs" value="read" name="batch_opt">
                <i class="fa fa-check-square-o"></i>
                标记为已读
            </button>
            <button class="btn btn-warning btn-xs" value="unread" name="batch_opt">
                <i class="fa fa-minus-square-o"></i>
                标记为未读
            </button>
            <button class="btn btn-danger btn-xs" value="clean" name="batch_opt">
                <i class="fa fa-trash-o"></i>
                彻底删除
            </button>
        </div>
        <table class="table table-bordered list_table">
            <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox" name="check_all" id="check_all" onclick="selectAll();"><i></i>
                        </label>
                    </th>
                    <th>序号</th>
                    <th>Email</th>
                    <th class="hidden-sm">意见</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% @suggestions.each_with_index do |s,index| %>
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" name="check[]" value="<%= s.id %>" onclick="setSelectAll();"><i></i>
                        </label>
                    </td>
                    <td><%= index+1 %></td>
                    <td><%= s.email %></td>
                    <td class="hidden-sm"><%= link_to s.content, kobe_suggestion_path(s.id), target: "_blank" %></td>
                    <td><%= s.status_to_badge %></td>
                    <td><%= oprate_btn(s) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% end %>
    </div>                      
</div>
