<div class="container content">   
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 shadow-wrapper">
      <div class="box-shadow shadow-effect-2">
        <%= form_for(User.new, url: login_users_path, method: :post, html: { class: "sky-form reg-page", id: "sign_in_form" }) do |u| %>
        <div class="reg-header">            
          <h2>用户登录</h2>
        </div>
        
        <div class="margin-bottom-20">
          <label class="input">
            <i class="icon-prepend fa fa-user"></i>
            <%= u.text_field :login, placeholder: "登录名" %>
          </label>
        </div>

        <div class="margin-bottom-20">
          <label class="input">
            <i class="icon-prepend fa fa-lock"></i>
            <%= u.password_field :password, placeholder: "密码" %>
          </label>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <label class="checkbox">
              <input id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
              <i></i> 自动登录?
            </label>                        
          </div>
          <div class="col-md-6">
            <button class="btn-u pull-right" type="submit"> 登 录 </button>                        
          </div>
        </div>

        <hr>
        
        <div class="row">
          <div class="col-lg-6">
            <%= link_to "忘记密码?", forgot_password_users_path %>
          </div>
          <div class="col-lg-6 text-right">
            <%= link_to "免费注册", sign_up_users_path %>
          </div>
        </div>
        <% end %>
      </div>    
    </div>
  </div>
</div>
