<h1>测试页面</h1>

<h2>字符串输出</h2>
<p><%=@tmp%></p>

<h2>HTML输出</h2>
<p><%=raw @tmp %></p>

<h2>图片输出</h2>
<p><%=image_path("bg/7.jpg") %></p>
<p><%=image_tag(asset_path("bg/7.jpg"), size: '320x250', alt: "这里是提示") %></p>

<h2>检验数据库</h2>
<p><%=@city.name %></p>


<h2>Bootstrap测试</h2>

   

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<hr />
<h1>以下内容待定</h1>

<h2>表单验证测试：</h2>

<%= form_tag('/posts', class: 'sky-form', id: "myform") do -%>
	<fieldset>
		<div class="row">
		    <section class="col col-4">
		        <label class="label">成立日期<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-calendar"></i>
		            <input type="text" value="" name="departments[成立日期]" id="departments_成立日期" class="date_select">
		            <b class="tooltip tooltip-bottom-right">以营业执照中的成立日期为准</b>
		        </label>
		    </section>
		    <section class="col col-4">
	        <label class="label">所在地区</label>
	        <label class="input">
	            <i class="icon-append fa fa-chevron-down"></i>
	            <input type="text" value="" name="departments[所在地区]" id="departments_所在地区" class="dialog_select" url="/home/json_test" value="1,3,5,7,9">
	        </label>
		    </section>
		    <section class="col col-4">
		        <label class="label">邮政编码<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-info"></i>
		            <input type="text" value="" name="departments[area_id]" id="departments_area_id" class="dialog_select" url="/home/ajax_test">
		        </label>
		    </section>
	    </div>
    </fieldset>
<% end -%>


<div id="dialog_select" style="overflow:auto;width:400px;height:300px;">
	<div class="sky-form">
		<fieldset>
	    <section>
	        <label class="label">Columned checkboxes</label>
	        <div class="row">
	            <div class="col col-4">
	                <label class="checkbox"><input type="checkbox" checked="" name="checkbox"><i></i>Alexandra</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Alice</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anastasia</label>
	            </div>
	            <div class="col col-4">
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Avelina</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Basilia</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Beatrice</label>
	            </div>
	            <div class="col col-4">
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Cassandra</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Clemencia</label>
	                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Desiderata</label>
	            </div>
	        </div>
	    </section>
	    
	    <section>
	        <label class="label">Inline checkboxes</label>
	        <div class="inline-group">
	            <label class="checkbox"><input type="checkbox" checked="" name="checkbox-inline"><i></i>Alexandra</label>
	            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Alice</label>
	            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Anastasia</label>
	            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Avelina</label>
	            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Beatrice</label>
	        </div>
	    </section>
		</fieldset>
	</div>
</div>




<div id="json_test">
	
</div>

<script type="text/javascript">

	// Box选择器
	function BoxSelect(d,id,url,check_type,params){
		d.show();
		$.ajax({
		  type: 'get',
		  url: url,
		  dataType: 'json',
		  success: function(data){
		  	// d.title("请选择...");
		  	// d.content($("#ztree_show"));
		  },
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				alert(textStatus);
			},
		  cache: false
		});
	}

	// 树形选择器
	function zTreeSelect(d,id,url,check_type,params){
		// 插入搜索框
		// $("#" + id).append("<div class='input-group'><input type='text' placeholder='请输入关键字...' class='form-control input-sm'><span class='input-group-btn'><button type='button' class='btn btn-success btn-sm'>搜索</button></span></div>");
		// 插入树形DIV
		$("#" + id).append("<div id='zTree"+ id +"'></div>");
		params = params || {}
		// var otherparam = (params == undefined) ? {} : {'query' : params};
		$.ajax({
		  type: 'get',
		  url: url,
		  dataType: 'json',
		  date: params,
		  cache: false,
		  success: function(data){
		  	$.fn.zTree.init($("#zTree" + id), ztree_setting(check_type), data);
		  	d.title("请选择...");
		  	d.content($("#"+id));
		  },
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				// alert(textStatus);
				d.title("抱歉，出错了！");
				d.content("加载失败，请刷新页面重试。");
			}
		});
	}

	// 显示选择对话框
	function showDialog(dom,id,url,dialog_type,check_type,params){
		id += "_Dialog";
		dialog_type = dialog_type || "zTree";
		check_type = check_type || "checkbox";
		var d = dialog.get(id);
  	if (!d){
  		alert("不存在，开始创建");
			d = dialog({
				id: id,
				title: '加载中...',
				follow: dom,
				quickClose: true,
		    okValue: '确定',
		    ok: function () {
		        this.close();
		        return false;
		    },
		    cancelValue: '取消',
		    cancel: function () {
		    	this.close();
		    	return false;
		    }
			});
			d.show();
			$("#dialog_select").append('<div id="'+ id +'" class="ztree" style="overflow:auto;width:400px;height:300px;"></div>');
			if (dialog_type == "zTree"){
				zTreeSelect(d,id,url,check_type,params);
			}else{
				BoxSelect(d,id,url,check_type,params);
			}
		}
		else{
			alert("已经存在，直接显示");
			d.show();
		}
	}

	// 页面开始加载
	$(function(){
		// 触发对话框选择器
	  $('.dialog_select').on("click",function(){
	  	showDialog(this,$(this).attr("id"),$(this).attr("url"),"zTree","checkbox");
		});

	});














	// 树形选择器开始





	function ztree_setting(check_type) {
		check_type = check_type || "checkbox";
	  var setting = {
      check: {
          enable: true,
          chkStyle: check_type,
          autoCheckTrigger: true,
          chkboxType: { "Y": "ps", "N": "ps" },
          radioType: "all"
      },
      data: {
        simpleData: {
            enable: true
        }
      }
	  };
	  return setting;
	}

</script> 

