<h1>测试页面</h1>

<h2>字符串输出</h2>
<p><%=@tmp%></p>

<h2>HTML输出</h2>
<p><%=raw @tmp %></p>

<h2>图片输出</h2>
<p><%=image_path("bg/7.jpg") %></p>
<p><%=image_tag(asset_path("bg/7.jpg"), size: '320x250', alt: "这里是提示") %></p>

<h2>检验数据库</h2>
<p><%=@city.name %></p>


<h2>Bootstrap测试</h2>

   

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<hr />
<h1>以下内容待定</h1>

<h2>表单验证测试：</h2>

<%= form_tag('/posts', class: 'sky-form', id: "myform") do -%>
	<fieldset>
		<div class="row">
		    <section class="col col-4">
		        <label class="label">成立日期<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-calendar"></i>
		            <input type="text" value="" name="departments[成立日期]" id="departments_成立日期" class="date_select">
		            <b class="tooltip tooltip-bottom-right">以营业执照中的成立日期为准</b>
		        </label>
		    </section>
		    <section class="col col-4">
	        <label class="label">所在地区</label>
	        <label class="input">
	            <i class="icon-append fa fa-chevron-down"></i>
	            <input type="text" value="" name="departments[所在地区]" id="departments_所在地区" class="dialog_select" data="/kobe/menus/ztree">
	        </label>
		    </section>
		    <section class="col col-4">
		        <label class="label">邮政编码<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-info"></i>
		            <input type="text" value="" name="departments[area_id]" id="departments_area_id" class="dialog_select" href="/home/ajax_test">
		        </label>
		    </section>
	    </div>
    </fieldset>
<% end -%>


<script type="text/javascript">
	
	$(function(){
	  $('.dialog_select').on("click",function(){
	  	var d = dialog.get($(this).attr("id"));
	  	if (!d){
				d = dialog({
					id: $(this).attr("id"),
					width: 320,
					height: 60,
					title: '加载中...',
					follow: this
				});
			}
			d.show();
			$.ajax({ 
				url: $(this).attr("href"), 
				success:function(data){ 
					d.title("请选择"); 
					d.content(data); 
				}, 
				cache: false 
			});
		});

	});

</script> 

