<h1>测试页面</h1>

<h2>字符串输出</h2>
<p><%=@tmp%></p>

<h2>HTML输出</h2>
<p><%=raw @tmp %></p>

<h2>图片输出</h2>
<p><%=image_path("bg/7.jpg") %></p>
<p><%=image_tag(asset_path("bg/7.jpg"), size: '320x250', alt: "这里是提示") %></p>

<h2>检验数据库</h2>
<p><%=@city.name %></p>

<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<hr />
<h1>以下内容待定</h1>

<h2>表单验证测试：</h2>

<%= form_tag('/posts', class: 'sky-form', id: "myform") do -%>
	<input type="hidden" id="departments_area" name="departments[area]" value='3,5,7' />
	<input type="hidden" id="departments_postnumber" name="departments[postnumber]" value='23' />
	<input type="hidden" id="departments_area2" name="departments[area2]" value='3,5,7' />
	<input type="hidden" id="departments_postnumber2" name="departments[postnumber2]" value='23' />
	<fieldset>
		<div class="row">
		    <section class="col col-4">
		        <label class="label">成立日期<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-calendar"></i>
		            <input type="text" value="" name="departments[成立日期]" id="departments_成立日期" class="date_select">
		            <b class="tooltip tooltip-bottom-right">以营业执照中的成立日期为准</b>
		        </label>
		    </section>
		    <section class="col col-4">
	        <label class="label">所在地区</label>
	        <label class="input">
	            <i class="icon-append fa fa-chevron-down"></i>
	            <input type="text" name="departments[所在地区]" id="departments_所在地区" class="tree_checkbox" url="/home/json_test" value="3,5,7" limited="3" partner='departments_area'>
	        </label>
		    </section>
		    <section class="col col-4">
		        <label class="label">邮政编码<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-info"></i>
		            <input type="text" name="departments[area_id]" id="departments_area_id" class="tree_radio" url="/home/json_test" value="2" partner='departments_postnumber'>
		        </label>
		    </section>
	    </div>
	    <div class="row">
		    <section class="col col-4">
		        <label class="label">成立日期<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-calendar"></i>
		            <input type="text" value="" name="departments2[成立日期]" id="departments_成立日期2" class="date_select">
		            <b class="tooltip tooltip-bottom-right">以营业执照中的成立日期为准</b>
		        </label>
		    </section>
		    <section class="col col-4">
	        <label class="label">所在地区</label>
	        <label class="input">
	            <i class="icon-append fa fa-chevron-down"></i>
	            <input type="text" name="departments2[所在地区]" id="departments_所在地区2" class="box_checkbox" url="/home/json_test" value="3,5,7" limited="4" partner='departments_area2'>
	        </label>
		    </section>
		    <section class="col col-4">
		        <label class="label">邮政编码<span class="text-red">*</span></label>
		        <label class="input">
		            <i class="icon-append fa fa-info"></i>
		            <input type="text" name="departments2[area_id]" id="departments_area_id2" class="box_radio" url="/home/json_test" value="2" partner='departments_postnumber2'>
		        </label>
		    </section>
	    </div>
    </fieldset>
<% end -%>

