<div class="row">
<% 
	grid ||= 4
	uploads.each_with_index do |u, index| 
		if index%grid == 0 && index != 0
%>
		</div>
		<div class="row">
	<% end %>
	<div class="col-md-<%= 12/grid %>">
		<div class="thumbnails thumbnail-style thumbnail-kenburn">
			<a href="<%= u.upload.url(:original) %>" title="<%= u.upload_file_name %>" data-rel="fancybox-button" class="fancybox-button zoomer">
				<span class="overlay-zoom overflow-hidden">  
					<img alt="" src="<%= u.upload.url(:big) %>" class="img-responsive">
					<span class="zoom-icon"></span>                   
				</span>                                              
			</a>
			<div class="caption">
				<!-- <h3><a class="hover-effect" href="#">Project One</a></h3> -->
				<p class="word_break"><%= u.upload_file_name %></p>
			</div>                  
		</div>
	</div>
<% end %>
</div>