<div class="panel-heading overflow-h">
	<h2 class="panel-title heading-sm pull-left">
	<i class="fa fa-group"></i> <%= raw "#{@dep.name} #{@dep.status_badge}" %>
	</h2>
	<div class='pull-right'>
		<%= btn_group(@dep.cando_list,false) %>
	</div>
</div>

<%
content = show_xml_info(@dep.class.xml,@dep)
content << render_html('user_table')
arr = [
	{"div_id" => "info-#{@dep.id.to_s}", "icon" => "fa-info-circle", "title" => "详细信息", "content" => content}, 
	{"div_id" => "photos-#{@dep.id.to_s}", "icon" => " fa-bar-chart-o ", "title" => "资质证书"}, 
	{"div_id" => "logs-#{@dep.id.to_s}", "icon" => "fa-clock-o", "title" => "历史记录", "content" => show_logs(@dep)}
]
%>

<%= show_tab(@dep,arr) %>
<%= render :partial => "dep_opt" %>
<%= render :partial => "user_opt" %>
