<div class="panel-heading overflow-h">
	<h2 class="panel-title heading-sm pull-left">
	<i class="fa fa-group"></i> <%= raw "#{@dep.name} #{@dep.status_badge}" %>
	</h2>
	<div class='pull-right'>
		<%= btn_group(@dep.cando_list,false) %>
	</div>
</div>

<%= show_tips(@msg.blank? ? 'alert-success' : 'alert-danger', @msg.blank? ? '恭喜您！' : '很抱歉！', @msg.blank? ? "账户信息已填写完整，请点击[提交]，提交并等待审核。" : @msg) if Department.get_status_attributes(@dep.status,1)[0] == '资料未填写' %>

<%= show_tab(@dep,[{ div_id: "info-#{@dep.id.to_s}", icon: "fa-info-circle", title: "详细信息", content: render_html('show_info')}, { div_id: "photos-#{@dep.id.to_s}", icon: " fa-bar-chart-o ", title: "资质证书" , content: render_html('show_upload', uploads: @dep.uploads)}, { div_id: "logs-#{@dep.id.to_s}", icon: "fa-clock-o", title: "历史记录", content: show_logs(@dep)}]) %>

<%= alert_dialog("opt_dialog",'') %>