<%= form_for [:kobe, @menu], :html => { :multipart => true, :class => "sky-form" } do |f| %>

<%= f.hidden_field :parent_id %>

<header>参数配置</header>

<fieldset>  
	<div class="row">
		<section>
			<label class="label col col-4">父节点名称</label>
			<div class="col col-8">
				<label class="input">
					<!-- <i class="icon-append fa fa-user"></i> -->
					<%= f.text_field :parent_name, placeholder: '父节点名称', disabled: true %>
				</label>
			</div>
		</section>
	</div>
	<div class="row">
		<section>
			<label class="label col col-4">名称</label>
			<div class="col col-8">
				<label class="input">
					<!-- <i class="icon-append fa fa-briefcase"></i> -->
					<%= f.text_field :name, placeholder: '名称' %>
				</label>
			</div>
		</section>
	</div>
	<div class="row">
		<section>
			<label class="label col col-4">相对路径</label>
			<div class="col col-8">
				<label class="input">
					<!-- <i class="icon-append fa fa-envelope"></i> -->
					<%= f.url_field :route_path,  placeholder: '相对路径' %>
				</label>
			</div>
		</section>
	</div>
	<div class="row">
		<section>
			<label class="label col col-4">排序号</label>
			<div class="col col-8">
				<label class="input">
					<!-- <i class="icon-append fa fa-phone"></i> -->
					<%= f.number_field :sort,  placeholder: '只能填数字' %>
				</label>
			</div>
		</section>
	</div>
	<div class="row">
		<section>
			<label class="label col col-4">图标</label>
			<div class="col col-8">
				<label class="input">
					<!-- <i class="icon-append fa fa-briefcase"></i> -->
					<%= f.text_field :icon, placeholder: '图标' %>
				</label>
			</div>
		</section>
	</div>
	<div class="row">
		<section>
			<label class="label col col-4">状态</label>
			<div class="col col-8 inline-group">
				<label class="radio">
					<input type="radio" checked="" name="radio-inline">
					<%= f.radio_button :status, 1 %>
					<i class="rounded-x"></i>
					有效
				</label>
				<label class="radio">
					<input type="radio" checked="" name="radio-inline">
					<%= f.radio_button :status, 0 %>
					<i class="rounded-x"></i>
					无效
				</label>
			</div>
		</section>
	</div>
</fieldset>

<footer>
	<button type="submit" class="btn-u">Send request</button>
	<div class="progress"></div>
</footer>               
<div class="message">
	<i class="rounded-x fa fa-check"></i>
	<p>Thanks for your order!<br>We'll contact you very soon.</p>
</div>
<% end %>   
